.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header > * {
  color: white;
  text-decoration: none;
}

.header > *:hover {
  text-decoration: underline;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.starship-card {
  height: 100px;
  width: 200px;
  border: 1px solid #31573a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #204829;
}

.starship-card > * {
  color: white;
  text-decoration: none;
  padding: 16px;
  text-align: center;
}

.starship-card > *:hover {
  text-decoration: underline;
}

.starship-page {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.details-container {
  background-color: #204829;
  height: 200px;
  width: 500px;
  padding: 0 24px;
  display: grid;
  grid-template-columns: [first] 100px [two] auto [end];
}

.details-container > * {
  align-self: center;
  margin: 0;
  color: white;
  text-decoration: none;
}

.details-container > a:hover {
  text-decoration: underline;
}